<!DOCTYPE html>
<html>
<head>
	<title>navbar</title>
	<script type="text/javascript">
     M.AutoInit();   
    </script>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- font -->
    <style>
    @import url('https://fonts.googleapis.com/css?family=Nunito');
    </style> 

</head>
<body>

 <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo right">Compiler</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Python</a></li>
        <li><a href="/c">C</a></li>
        <li><a href="/cplus">C++</a></li>
        <li><a href="/java">Java</a></li>
      </ul>
    </div>
  </nav>

<script>
    M.AutoInit();
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>
</html>